<a href="#" class="special_mode">Версия для слабовидящих</a>
<div id="vi-panel" class="vi-panel" style="display: none;">
  <div class="clearfix container">
    <div class="vi-fontsize">
      <label>Размер шрифта:</label>
      <a href="#" rel="vi-fontsize-small" vi-font-size="0.8"
         class="vi-fontsize-small">A</a>
      <a href="#" rel="vi-fontsize-normal" vi-font-size="1"
         class="vi-fontsize-normal">A</a>
      <a href="#" rel="vi-fontsize-big" vi-font-size="1.4"
         class="vi-fontsize-big">A</a>
    </div>

    <div class="vi-colors">
      <label>Цвета сайта:</label>
      <a href="#" rel="color1" vi-bg="#fff" vi-color="#000"
         class="vi-color1">Ц</a>
      <a href="#" rel="color2" vi-bg="#000" vi-color="#fff"
         class="vi-color2">Ц</a>
      <a href="#" rel="color3" vi-bg="#9dd1ff" vi-color="#063462"
         class="vi-color3">Ц</a>
    </div>

    <div class="vi-images">
      <label>Изображения</label>
      <a rel="imagesoff" href="#" vi-img="off" class="vi-imagesoff">Выкл</a>
      <a rel="imageson" href="#" vi-img="on" class="vi-imageson">Вкл</a>
    </div>
    <div class="vi-settings"><a href="#">Настройки</a></div>
  </div>
  <div class="vi-settings-block clearfix container" style="display: none;">
    <h2>Настройки шрифта:</h2>
    <p class="choose-font-family">
      Выберите шрифт
      <a class="font-family" vi-font="Arial" href="#">Arial</a>
      <a class="font-family" vi-font="Times New Roman" href="#">Times New
        Roman</a>
    </p>
    <p class="choose-letter-spacing">
      Интервал между буквами
      <label>(Кернинг)</label>:
      <a class="letter-spacing" vi-kern="initial" id="spacing-small"
         rel="spacing-small" href="#">Стандартный</a>
      <a rel="spacing-normal" vi-kern="2px" class="letter-spacing"
         id="spacing-normal" href="#">Средний</a>
      <a rel="spacing-big" vi-kern="4px" class="letter-spacing" id="spacing-big"
         href="#">Большой</a>
    </p>
    <h2>Выбор цветовой схемы:</h2>
    <ul class="choose-colors">
      <li id="color1"><a rel="color1" vi-bg="#fff" vi-color="#000"
                         href="#"><span>—</span>Черным по белому</a>
      </li>
      <li id="color2"><a rel="color2" vi-bg="#000" vi-color="#fff"
                         href="#"><span>—</span>Белым по черному</a>
      </li>
      <li id="color3"><a rel="color3" vi-bg="#9dd1ff" vi-color="#063462"
                         href="#"><span>—</span>Темно-синим по
          голубому</a></li>
      <li id="color4"><a rel="color4" vi-bg="#f7f3d6" vi-color="#4d4b43"
                         href="#"><span>—</span>Коричневым по
          бежевому</a></li>
      <li id="color5"><a rel="color5" vi-bg="#3b2716" vi-color="#a9e44d"
                         href="#"><span>—</span>Зеленым по
          темно-коричневому</a></li>
    </ul>
    <div class="saveit">
      <a class="closepopped" href="#"><span>Закрыть панель</span></a>
      <a class="restore_special"
         href="#"><span>Вернуть стандартные настройки</span></a>
    </div>
  </div>
</div>
